HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env
mvnw
mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/database.db
/.mvn/wrapper/maven-wrapper.properties
/test_database.db
src/main/resources/.env-agentemoreno
src/main/resources/.env-ailocaltest
src/main/resources/.env
src/main/resources/.env-puerto
src/main/resources/.env-test
src/main/resources/application-ailocaltest.properties
src/main/resources/application-puerto.properties
src/main/resources/application-test.properties
database2.db
src/main/resources/application-ailocaltest.properties
